@font-face {
  font-family: "DroidKufi";
  src: url("../fonts/DroidKufi-Regular.ttf"); }

@font-face {
  font-family: "DroidKufiBold";
  src: url("../fonts/DroidKufi-Bold.ttf"); }

.dir-rtl {
  direction: rtl; }

.slider-home, .advantages__slider {
  direction: ltr; }

header .top-header .top-header__cart .nav-link .cartcontents {
  margin-right: 12px;
  margin-left: 0; }

*, body, li, a, p, span {
  font-family: "DroidKufi", "Open Sans", sans-serif !important; }

header .top-header .mr-auto .dropdown-hover > a {
  padding-left: 13px;
  padding-right: 0; }
  header .top-header .mr-auto .dropdown-hover > a:after {
    left: 0;
    right: auto; }

header .top-header .mr-auto .nav-item {
  margin-left: 18px; }

header .top-header .top-header__cart .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.center-header .align-items-center div {
  text-align: right; }

.dropdown-menu {
  text-align: right; }

header .top-header .top-header__languages .dropdown-menu {
  left: -35px; }
  header .top-header .top-header__languages .dropdown-menu:before {
    left: 50%; }

header [class*=" icon-"], header [class^=icon-] {
  margin-left: 6px;
  margin-right: 0; }

header .top-header .top-header__account span.cartcontents {
  margin-left: 0;
  margin-right: 5px; }

header .bottom-header .bottom-header__menu ul.navbar-nav .dropdown-menu .dropdown-hover > a:after {
  left: 0;
  right: auto;
  border-right: 5px solid #b9b9b9;
  border-left: 0;
  margin-right: 0;
  margin-left: -18px; }

header .bottom-header .bottom-header__menu ul.navbar-nav .dropdown-menu .dropdown-hover ul {
  right: 97%;
  left: auto; }

.jumbotron .containers {
  text-align: right; }
  .jumbotron .containers .display-4 {
    font-family: "DroidKufiBold", sans-serif !important;
    margin-bottom: 4px; }

.categories__content-element, section .section-title h2 {
  font-family: "DroidKufiBold", sans-serif !important; }

.categories .categories-bg .categories__content-item .categories__content-element {
  font-size: 40px;
  padding-top: 18px;
  line-height: 50px; }

.product__images {
  direction: ltr; }

.ocassions .ocassions__bottom .ocassions__bottom-content .ocassions__bottom-all span {
  padding-right: 30px;
  padding-left: 18px; }
  .ocassions .ocassions__bottom .ocassions__bottom-content .ocassions__bottom-all span:before {
    left: 0;
    right: auto; }
  .ocassions .ocassions__bottom .ocassions__bottom-content .ocassions__bottom-all span:after {
    right: 15px;
    left: auto; }

.product p {
  text-align: right; }

.product-buttons__add-cart:after {
  margin-left: 1px;
  margin-right: 5px;
  margin-top: 2px; }

.product-info {
  text-align: right; }
  .product-info__rating {
    float: left; }
  .product-info__price {
    font-family: "Marmelad", sans-serif !important; }
  .product-info__old-price {
    margin-right: 6px;
    margin-left: 0; }

.cotacts .cotacts__item .cotacts__item-box span {
  text-align: right; }
  .cotacts .cotacts__item .cotacts__item-box span:last-child {
    font-family: "Marmelad", sans-serif !important; }

.cotacts .cotacts__item .cotacts__item-icon {
  margin-right: 0;
  margin-left: 15px; }

.product-buttons__comparison {
  float: right; }

.product-buttons__add-cart {
  float: left; }

.subscribe .subscribe__box .subscribe__box-newsletter:after {
  left: 0;
  right: auto; }

.instagram .instagram__content .instagram__content-right {
  text-align: left; }

.instagram .instagram__content .instagram__content-left {
  text-align: right; }

.advantages .advantages__slider .advantages__slider-item--contend {
  direction: rtl;
  padding-left: 0;
  padding-right: 97px;
  background-position: left center !important; }

.advantages .advantages__slider .advantages__slider-item .advantages__slider-slid h3 {
  text-align: right; }
  .advantages .advantages__slider .advantages__slider-item .advantages__slider-slid h3 span {
    left: auto;
    right: -33px; }

.footer .col {
  text-align: right; }

.footer .footer__social ul li {
  margin-left: 9px;
  margin-right: 0; }

.footer .footer__contacts .footer__link a {
  margin-right: 0;
  margin-left: 10px; }

.subscribe .subscribe__box .subscribe__box-newsletter {
  padding-left: 0;
  padding-right: 79px;
  text-align: right; }

.subscribe .subscribe__box .subscribe__box-newsletter .subscribe__box-form .input-group-text {
  border-left: 0;
  border-right: 1px solid #e6e6e6; }

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.subscribe .subscribe__box .subscribe__box-newsletter .subscribe__box-form input.form-control {
  border-right: 0; }

.subscribe .subscribe__box .subscribe__box-newsletter .subscribe__box-form button.btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  outline: none; }
  .subscribe .subscribe__box .subscribe__box-newsletter .subscribe__box-form button.btn:after {
    transform: rotate(-180deg);
    margin-right: 4px;
    margin-top: 2px; }

.join-menu__home a svg {
  margin-right: 0;
  margin-left: 5px; }

.join-menu__compare span {
  left: -40px;
  right: auto; }

.join-menu__compare a:before {
  margin-left: 5px;
  margin-right: 0; }

header .top-header .top-header__cart-mini .top-header__cart-conteiner {
  left: 0;
  right: auto; }
  header .top-header .top-header__cart-mini .top-header__cart-conteiner:before {
    left: 40px;
    right: auto; }

header .top-header .top-header__cart-mini .top-header__cart-conteiner li.row .name {
  text-align: right; }

header .top-header .top-header__cart-mini .top-header__cart-conteiner li.row .remove {
  left: 0;
  right: auto;
  margin-left: -15px; }

header .top-header .top-header__cart-mini .top-header__cart-conteiner li.row .product-quantity:before {
  margin-right: -20px;
  right: 0;
  left: auto; }

header .top-header .top-header__search-result .top-header__search-conteiner {
  left: 170px;
  right: auto;
  margin-right: -185px;
  margin-left: 0; }

header .top-header .top-header__search-result .top-header__search-conteiner .input-group .input-group-text {
  padding: 2px 11px 0 0; }

header .top-header .top-header__search-result .top-header__search-conteiner svg.glyphicon-search {
  margin-left: 7px;
  margin-right: 0; }
